<h5 class="py-3">Pie and Doughtnut</h5>
<div class="row">
  <div class="col-6">
    <canvas
      chartDir
      class="sex-chart"
      [options]="audienceSexChartD"
      width="180px"
      height="180px"
      #sexChartDirective="chartDir"
    >
    </canvas>
  </div>
  <div class="col-6">
    <canvas
      chartDir
      class="sex-chart"
      [options]="audienceSexChartP"
      width="180px"
      height="180px"
      #sexChartDirective="chartDir"
    >
    </canvas>
  </div>
</div>
