<h5 class="py-3">Bar and Horizontal Bar (Grouped by Label)</h5>
<div class="row" style="height: 350px">
  <div class="col-6">
    <canvas
      chartDir
      class="age-chart"
      [options]="audienceAgeChartH"
      width="180px"
      height="180px"
      #sexChartDirective="chartDir"
    >
    </canvas>
  </div>
  <div class="col-6">
    <canvas
      chartDir
      class="age-chart"
      [options]="audienceAgeChartV"
      width="180px"
      height="180px"
      #sexChartDirective="chartDir"
    >
    </canvas>
  </div>
</div>
